body {
  background-color: rgb(160, 160, 160);
}
h1 {
  text-align: center;
}
h4 {
  text-align: center;
}

img {
  width: 550px;
  height: 400px;
  padding-bottom: 4cm;
  display: block;
  margin-left: auto;
  margin-right: auto;
  block-size: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
